{# extends "authopenid/base.html" #}
{% extends 'panel/panel.html' %}
{% load appname %}
{% load url from future %}
{% block title %}Sign In{% endblock title %}

{% block panel %}
{% if msg %}
<br />
	<p class="warning">{{ msg }}</p>
{% endif %}
{% if form2.errors %}
<div class="errors"><p>Please correct errors below:<br />
    {% if form2.non_field_errors %}
        <span class="error">{{ form2.non_field_errors }}</span>
        <br/>
    {% endif %}
	{% if form2.username.errors %} 
		<span class="error">USERNAME errors {{ form2.username.errors|join:", " }}</span>
        <br/>
	{% endif %}
	{% if form2.password.errors %} 
		<span class="error">PASSWORD errors {{ form2.password.errors|join:", " }}</span>
        <br/>
	{% endif %}
</p></div>

{% endif %}

{% if form1.errors %}
<div class="errors">
    <p><span class="error">{{ form1.openid_url.errors|join:", " }}</span></p>
</div>
<br>
{% endif %}

<div class="login" style="margin-top:25px">

<form id="auth_form" name="auth_form" action="{% url 'user_signin' %}" method="post">
    <input type="hidden" name="next" value="{{ next }}" />
	<fieldset>
        <legend><strong>Sign In To {% appname %}</strong></legend> 
		<div class="form-row"><label for="id_username">Username</label><br />{{ form2.username }}</div>
		<div class="form-row"><label for="id_password">Password</label><br />{{ form2.password }}</div>
        <div class="submit-row"><input type="submit" name="blogin" value="Sign in"> </div>
	</fieldset>	
</form>

<p><a class="panel_link" href="{% url 'auth_password_reset' %}">Forgot your password?</a></p>
</div>	
{% endblock panel %}



